<html>
<head>
{% load static %}
        <title>About Us</title>
        <link rel="stylesheet" href="{% static 'navbar.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width =device-width, initial-scale=1">
        <link href="https://font.googleapis.com/css?family=kaushan+Script|Poppins&display=swap" rel="stylesheet">
</head>
<body>
        <h1>About Us</h1>
        <section id="about-us">
            <div class="title-text">
            <p>ABOUT US</p>
            </div>
            <div class="about-us-box">
                <div class="about-us-desc">
                    <div class="about-us-icon"></div>
                    <div class="about-us-text">
                        <p> <b>Loan Application</b> is a Online Loan Application Website.
                         <br> This website helps people to apply for loan.<br> This application will ask for the loan amount needed and may request that the borrower specify a term.<br> The lender will charge different rates of interest depending on where borrower live as well as their financial and employment status.</p>
                    </div>
                </div>
            </div>
            </section>
            
</body>
</html>

{%block content %} {% endblock %}

          
          