<html>
<head>
{% load static %}
        <title>About Us</title>
        <link rel="stylesheet" href="{% static 'mainpage.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width =device-width, initial-scale=1">
        <link href="https://font.googleapis.com/css?family=kaushan+Script|Poppins&display=swap" rel="stylesheet">
</head>
{% block content %}
<body style="background-color: skyblue; font-size: 20px; text-align: center">
        <h1>About Us</h1>
        <section id="about-us">
            <h3>About Us</h3>
            <div class="title-text">
            </div>
            <div class="about-us-box">
                <div class="about-us-desc">
                    <div class="about-us-icon"></div>
                    <div class="about-us-text">
                        <p> <b>CASHYLOAN</b> is a Online Loan Application Website.
                         <br> This website helps people to apply for loan.This application will ask for the loan amount <br> needed and may request that the borrower specify a term. The lender will charge different rates <br> of interest depending on where borrowerlive as well as their financial and employment status.In this website<br>  you will find our online loan application that allows you to apply for loans provided by Lenderly electronically, with national wide coverage</p>

                    </div>
                </div>
            </div>
            </section>
        <section id="vision">
            <div class="title-text">
            <h3>Vision</h3>
            </div>
            <div class="vision-box">
                <div class="vision-desc">
                    <div class="vision-text">
                        <p>"Our aim is to be an innovative and trusted financial partner for all Filipinos."
                        </p>
                    </div>
                </div>
            </div>
            </section>
        <section id="mission">
            <div class="title-text">
            <h3>Mission</h3>
            </div>
            <div class="mission-box">
                <div class="mission-desc">
                    <div class="mission-text">
                        <p>"CASHYLOAN invests in every Filipinos’ goals by delivering and providing a fair and easy-access loan service."
                        </p>
                    </div>
                </div>
            </div>
            </section>
            <a href="{% url 'mainpage' %}"target="_top">Back</a>
</body>
</html>

{% endblock %}

          
          