<!DOCTYPE HTML>
<html>
	<title>Amount Loan</title>
	<script type="text/javascript">
		function calculate(){
			var loan = document.getElementById('loan').value;
			var interest = document.getElementById('interest').value;
			var months = document.getElementById('months').value;
			var interest = (loan * (interest * .01)) /months;
			var payment = ((loan / months) + interest).toFixed(2);
			payment = payment.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			document.getElementById('payment').innerHTML = "Monthly Payment= ₱" +payment;
		}
	</script>
	<style>
    	a:link, a:visited {
    	  background-color: royalblue;
    	  padding: 10px 20px;
    	  text-align: center;
    	  text-decoration: none;
    	  display: inline-block;
    	  font-weight:500; 
    	  margin-top:35px; 
    	  color:white;
    	  text-transform:uppercase; 
    	  font-size:14px;
    	  padding:10px 24px;
    	  display:inline-block;
    	  border-radius:50px;"
    	}
    	
    	a:hover, a:active {
    	  background-color: blue;
    	}
	</style>

	<body style="background-color: skyblue">
		<center>
			<h1 style="color: darkred; font-size= 35px">
				Loan Amount
			</h1>
			<form method="POST" action="/LoanApp/{{ LoanId.id }}/addSignUp">
			<label>Amount Loaned:</label>
				<input
					type="number" 
					id="loan"
					min="1"
					max="1000000"
					placeholder="amount"
					required
					onchange="calculate()" 
				/><br></br>
			<label>Interest Rate(%):</label>
				<input 
					type="number" 
					id="interest"
					min="0"
					max="100"
					step=".1"
					placeholder="interest%"
					required
					onchange="calculate()" 
				/><br></br>
			<label>Months:</label>
				<input 
					type="number" 
					id="months"
					min="1"
					max="72"
					step="1"
					placeholder="months"
					required
					onchange="calculate()" 
				/><br></br>
				<input type="button" value="Compute" onclick="calculate();">
			{% csrf_token %}
			</form>
			<h2 id="payment">
			</h2>
				<a href="{% url 'applyform' %}" target="_top">Back</a>
				<a href="{% url 'repay_branch' %}" target="_top">Payment</a>
		</center>

			<table id="loanTable" name="loanTable">
				{% for signup in LoanId.signup_set.all %}
				<tr>
					<td>{{ forloop.counter }}: {{  }}</td>
				</tr>
				{% endfor %}
			</table>
		<!-- <table id="LoanTable">
			<tr><td>1: {{ NewFullName }}</td>
				<td>in</td>
				<td>{{ NewEmailAddress }}</td></tr>
		</table> -->
	</body>
</html>


<!--<input type="submit" id="btnConfirm" value="Confirm"/><br></br>-->
<!-- <input type="submit" id="btnMore" value="More"/><br></br> -->

<!--<input bold type="text" id="ValidID" name="ValidID" Types of ValidID/>-->
