<html>
<head>
{% load static %}
    <title>Contacts</title>
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width =device-width, initial-scale=1">
    <link href="https://font.googleapis.com/css?family=kaushan+Script|Poppins&display=swap" rel="stylesheet">
</head>
<body>
        <h1>Contacts</h1>
        <section id="contact">
            <div class="title-text">
            <p>CONTACTS</p>
            </div>
            <div class="contact-row">
            <div class="contact-left">
                <h1>Open Hours</h1>
                <p><i class="fa fa-clock-o"></i>Monday to Sunday - 7:00AM to 9:00PM</p>
            </div>
            <div class="contact-right">
                <h1>Contact Us</h1>
                <p>LoanApp@loanwebsite.com<i class="fa fa-paper-plane"></i></p>
                <p>(043) 412-0304<i class="fa fa-phone"></i></p>
            </div>
            </div>

            <div class="social-links">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-youtube-play"></i>
                <p>Copyright © 2021 Loan Application. All rights reserved.</p>
            </div>
    
        </section>
</body>
</html>