<html>
<head>
{% load static %}
        <title>Online Loan</title>
        <link rel="stylesheet" href="{% static 'navbar.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width =device-width, initial-scale=1">
        <link href="https://font.googleapis.com/css?family=kaushan+Script|Poppins&display=swap" rel="stylesheet">
</head>
<body>
<section id="background">
	<img src="{% static 'bg1.jpg' %}" class="background">
    <img src="{% static 'logo.png' %}" class="logo">
    <div class="background-text">
        <h1>Online Loan Application</h1>
        <p>Trusted partner for your financial crisis</p>
        <h4>Borrow, pay, repeat</h4>
    </div>
</section>