<!DOCTYPE HTML>
<html>
	<title>Amount Loan</title>
	<script type="text/javascript">
		function calculate(){
			var loan = document.getElementById('loan').value;
			var interest = document.getElementById('interest').value;
			var months = document.getElementById('months').value;
			var interest = (loan * (interest * .01)) /months;
			var payment = ((loan / months) + interest).toFixed(2);
			payment = payment.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			document.getElementById('payment').innerHTML = "Monthly Payment= P" +payment;
		}
	</script>
	<body style="background-color: skyblue">
		<center>
			<h1 style="color: brown; font-size= 35px">
				Online Loan Application Form
			</h1>
			<form method="POST" action="/LoanApp/{{ LoanId.id }}/addItem">
			<label>Amount Loaned:</label>
				<input
					type="number" 
					id="loan"
					min="1"
					max="1000000"
					placeholder="amount"
					onchange="calculate()" 
				/><br></br>
			<label>Interest Rate(%):</label>
				<input 
					type="number" 
					id="interest"
					min="0"
					max="100"
					step=".1"
					placeholder="interest%"
					onchange="calculate()" 
				/><br></br>
			<label>Months:</label>
				<input 
					type="number" 
					id="months"
					min="1"
					max="72"
					step="1"
					placeholder="months"
					onchange="calculate()" 
				/><br></br>
			{% csrf_token %}
			</form>
			<h2 id="payment"></h2>
		</center>
			<table id="loanTable" name="loanTable">
				{% for item in LoanId.item_set.all %}
				<tr>
					<td>{{ forloop.counter }}: {{ item.text }}</td>
				</tr>
				{% endfor %}
			</table>
		<!-- <table id="LoanTable">
			<tr><td>1: {{ NewFullName }}</td>
				<td>in</td>
				<td>{{ NewEmailAddress }}</td></tr>
		</table> -->
	</body>
</html>


<!--<input type="submit" id="btnConfirm" value="Confirm"/><br></br>-->
<!-- <input type="submit" id="btnMore" value="More"/><br></br> -->

<!--<input bold type="text" id="ValidID" name="ValidID" Types of ValidID/>-->
