<!DOCTYPE HTML>
<html>
	<title>Amount Loan</title>
	<script type="text/javascript">
		function calculate(){
			var loan = document.getElementById('loan').value;
			var interest = document.getElementById('interest').value;
			var months = document.getElementById('months').value;
			var interest = (loan * (interest * .01)) /months;
			var payment = ((loan / months) + interest).toFixed(2);
			payment = payment.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			document.getElementById('payment').innerHTML = "Monthly Payment= P" +payment;
		}
	</script>

	<body style="background-color: skyblue">
		<center>
			<h1 style="color: brown; font-size= 35px">
				Online Loan Application Form
			</h1>
			<form method="POST" action="/LoanApp/{{ LoanId.id }}/addSignUp">
			<label>Amount Loaned:</label><br>
				<input
					type="number" 
					id="loan"
					min="1"
					max="1000000"
					placeholder="amount"
					onchange="calculate()" 
				/></br>
			<label>Interest Rate(%):</label><br>
				<input 
					type="number" 
					id="interest"
					min="0"
					max="100"
					step=".1"
					placeholder="interest%"
					onchange="calculate()" 
				/></br>
			<label>Months:</label><br>
				<input 
					type="number" 
					id="months"
					min="1"
					max="72"
					step="1"
					placeholder="months"
					onchange="calculate()" 
				/></br>
				<tr><td colspan="3">
    			<input type="button" value="Compute" onclick="calculate();">
    			</td></tr><br></br>

    			<h2 id="payment"></h2>
    				</td></tr>
			    <tr>
			      <td></td>
			      <td>Monthly payment:</td><br>
			      <td><input type="text" name="payment" id="payment"></td>
			    </tr></br>
			    <tr>
			      <td></td>
			      <td>Total payment:</td><br>
			      <td><input type="text" name="total"></td>
			    </tr></br>
			    <tr>
			      <td></td>
			      <td>Total interest payments:</td><br>
			      <td><input type="text" name="totalinterest" ></td>
			    </tr>
			  </table></br>

			  	<a href="{% url 'applyform' %}"target="_top">Back</a>
				<a href="{% url 'repay_branch' %}"target="_top">Payment</a>

			{% csrf_token %}
			</form>
			
		</center>

			<table id="loanTable" name="loanTable">
				{% for signup in LoanId.signup_set.all %}
				<tr>
					<td>{{ forloop.counter }}: {{ signup.username }}</td>
				</tr>
				{% endfor %}
			</table>
		<!-- <table id="LoanTable">
			<tr><td>1: {{ NewFullName }}</td>
				<td>in</td>
				<td>{{ NewEmailAddress }}</td></tr>
		</table> -->
	</body>
</html>


<!--<input type="submit" id="btnConfirm" value="Confirm"/><br></br>-->
<!-- <input type="submit" id="btnMore" value="More"/><br></br> -->

<!--<input bold type="text" id="ValidID" name="ValidID" Types of ValidID/>-->
