<!DOCTYPE html>
<html>
<head>
    <title>Log In</title>
</head>
<body style="background-color: skyblue; text-align: center">
        <h1 style="color: darkblue; font-size= 35px; margin-top: 30px; margin-bottom: 30px">
            Loan Log In
        </h1>
        <h2>Welcome Back LOANER!</h2>
        <form class="form-control" action="/LoanApp/login/" method="post">
 
            <label>Username:<span class="req"></label><br>
            <input 
                maxlength="10" 
                type="text" 
                id="Uname" 
                name="Uname"
                required autocomplete="off"
                style="color: black; margin-top: 10px; margin-bottom: 10px"
                placeholder="Your username"></br>

            <label>Password:<span class="req"></label><br>
            <input 
                type="password" 
                id="Pword" 
                name="Pword" 
                required autocomplete="off"
                style="color: black; margin-top: 10px; margin-bottom: 10px"
                placeholder="Your Password"></br>

            <!--<input 
                type="button" 
                style="color: black; background-color: wheat; margin-top: 10px; margin-bottom: 10px"
                value="Log In">-->

        <br><small class="row">
                <a href="#" class="col text-left">Forgot password?</a>
                <a href="signup.html" class="col text-right">Create New Account</a>
            </small>
        </form></br>
    </div>
        
{% endblock %}

{% block scriptcontent %}
    <script>
        $(".active").removeClass("active");
        $("#nav-login").addClass("active");
        $("input").addClass("form-control");
    </script>
{% endblock %}
</body>
</html>