{% extends 'navbar.html' %}

<html>
<head>
{% load static %}

        <title>Online Loan</title>
        <link rel="stylesheet" href="{% static 'mainpage.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width =device-width, initial-scale=1">
        <link rel="stylesheet" href="https://font.googleapis.com/css?family=kaushan+Script|Poppins&display=swap">
</head>
{% block content %}
<body style="background-color: skyblue; font-size: 30px; text-align: center">
<section id="background">
<!--	<img src="bg1.jpg" class="background">
    <img src="logo.png" class="logo">-->
    <div class="background-text">
        <h1>CASHYLOAN</h1>
        <p>Trusted partner for your financial problem.</p>
        <h4>Borrow, pay, repeat</h4>
    </div>
</section>
    
			  	<a href="{% url 'signup' %}"target="_top">SignUp</a>
				<a href="{% url 'login' %}"target="_top">LogIn</a>
</body>
</html>
{% endblock %}