<html>
<title>Loan Application</title>
<script>

</script>
<body>
<h1 style="color:blue; font-size=35px">Loan Application Form</h1>
<h3 style="color:black; font-size=20px">Personal Information</h3>
<label for ="Name1"> First Name</label>
<input bold type="text" id="Name1" name="Name1" placeholder="First Name"/>
<label for ="Name2"> Middle Name</label>
<input bold type="text" id="Name2" name="Name2" placeholder="Middle Name"/>
<label for ="Name3"> Last Name</label>
<input bold type="text" id="Name3" name="Name3" placeholder="Last Name"/>&nbsp<br></br>
<label for ="Email"> Email Address</label>
<input bold type="text" id="Email" name="Email" placeholder="EmailAddress"/>
<label for ="Address"> Residence Address</label>
<input bold type="text" id="Address" name="Address" placeholder="ResidenceAddress"/>
<label for ="Code"> Zip Code</label>
<input bold type="text" id="Code" name="Code" placeholder="ZipCode"/>&nbsp<br></br>
<label for ="DateOfBirth"> Date of Birth</label>
<input bold type="text" id="DateOfBirth" name="DateOfBirth" placeholder="M/D/Y"/>
<label for ="Status"> Marital Status</label>
<input bold type="text" id="Status" name="Status" placeholder="MaritalStatus"/>
<label for ="Citizenship"> Citizenship</label>
<input bold type="text" id="Citizenship" name="Citizenship" placeholder="Citizenship"/>&nbsp<br></br>
<label for ="CPNo"> Cellphone No.</label>
<input bold type="text" id="CPNo" name="CPNo" placeholder="Cell No"/>&nbsp<br></br>
<!--<input type="submit" id="btnConfirm" value="Confirm"/><br></br>-->
<!-- <input type="submit" id="btnMore" value="More"/><br></br> -->
<h3 style="color:black; font-size=20px">Loan Details</h3>
<!--<input bold type="text" id="ValidID" name="ValidID" Types of ValidID/>-->
<label for ="ValidID"> Types of Valid ID</label>
<select id="ValidID">
	<option value ="ValidID">SSS ID</option>
	<option value ="ValidID">Pag ibig ID</option>
	<option value ="ValidID">Tin ID</option>
	<option value ="ValidID">Passport ID</option>
	<option value ="ValidID">Voters ID</option>
	<option value ="ValidID">License ID</option>
	<option value ="ValidID">UMID ID</option>
	<option value ="ValidID">GSIS ID</option>
	<option value ="ValidID">Philhealth ID</option>
</select>
<label for ="ValidIDNo"> Valid ID No.</label>
<input bold type="text" id="ValidIDNo" name="ValidIDNo" placeholder="ValidIDNo"/>
<table id="idListTable"><br></br>

</table>
</body>
</html>