<html>
<head>
{% load static %}
        <title>Loan Application</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width =device-width, initial-scale=1">
        <link href="https://font.googleapis.com/css?family=kaushan+Script|Poppins&display=swap" rel="stylesheet">
</head>

<div class="menu-bar">
<div id="menuNav">
    <nav> 
       <style>
            ul {
                list-style-type: none;
                margin: 20px;
                padding: 30px;
                overflow: hidden;
                }
                
                li {
                  float: left;
                }

                li a {
                display: block;
                margin: 10px;
                padding: 30px;
                font-size: 15px;
                }
        </style>
    <ul>
        <li><a href="{% url 'mainpage' %}"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="{% url 'aboutus' %}"><i class="fa fa-info"></i>About Us</a></li>
        <li><a href="{% url 'applyform' %}"><i class="fa fa-file"></i>Apply Loan</a></li>
        <li><a href="{% url 'loanaf' %}"><i class="fa fa-money"></i>Amount Loan</a></li>
        <li><a href="{% url 'repay_branch' %}"><i class="fa fa-bank"></i>Repay and Branch</li></a></li>
        <li><a href="{% url 'contacts' %}"><i class="fa fa-phone"></i>Contact</a></li>
    </ul>
    </nav>
    
</div>
</div>

<!--<script>
var menuBtn = document.getElementById("menuBtn")
var sideNav = document.getElementById("sideNav")
var menu = document.getElementById("menu")

sideNav.style.right = "-250px";

menuBtn.onclick = function(){
    if(sideNav.style.right == "-250px"){
        sideNav.style.right = "0";
        menu.src = "{% static 'close.png' %}";
    }
    else{
        sideNav.style.right = "-250px"
        menu.src = "{% static 'menu.png' %}";
    }
}-->
</script>
</html>

{%block content %} {% endblock %}