<html>
<head>
        <title>Reset Password</title>
</head>

<body style="background-color: skyblue; text-align: center">
        <h1 style="color: purple; font-size= 35px; margin-top: 30px; margin-bottom: 30px">
            Change Password
        </h1>
<form method="post" action="">

<label for="newPassword">New Password:</label><br>
	<input 
	type="password" 
	id="newPassword" 
	name="newPassword" 
	style="color: black; margin-top: 10px; margin-bottom: 10px"
	title="New password"
	required/><br>

<label for="confirmPassword">Confirm Password:</label><br>
	<input 
	type="password" 
	id="confirmPassword" 
	name="confirmPassword"
	style="color: black; margin-top: 10px; margin-bottom: 10px" 
	title="Confirm new password"
	required/><br>

<p class="form-actions">
	<input 
	type="submit" 
	value="Change Password"
	style="color: black; background-color: royalblue; margin-top: 10px; margin-bottom: 10px"
	title="Change password" /><br>
</p>

</form>